<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>답변 작성</title>
</head>
<body>
<form th:action="@{/counselor/answer/write}" id="questions" th:object="${answer}" method="POST" th:onsubmit="checkAnswerData()">
    <input type ="hidden" th:field="*{no}">
    <div>
        <label>답변</label>
        <label>
            <textarea id="questionsDetail" th:field="*{answer}"></textarea>
        </label>
    </div>
    <div>
        <input type="submit"
               value="답변">
        <script type="text/javascript">
            const checkAnswerData = () => {
                const answer = document.getElementById("answer").value;

                if(answer === null || answer === undefined || answer == '') {
                    alert("답변을 입력해주세요");
                    return false;
                }


            }
        </script>
    </div>
</form>
</body>
</html>